$popin: 'Poppins', Arial, sans-serif;
$pacif: 'Bangers', cursive;

$baseFontFamily: $popin;
$baseFontSize: 14px;
$baseLineHeight: 1.5;
$textColor: #363636;
$bodyBackground: #fff;
$purple: #BA68C8;
$purple2: #AB47BC;


// root
$imgPath : "../css/images/";

