.header {
  position: relative;
  z-index: 1000;

  &.sticky-header {

    .header-bottom {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

//header top section

.header-top {
  background: #434343;
  padding: 10px 0;
}

.currency-block {
  padding-right: 5px;
  border-right:1px solid #fff;
}

.lang-block,
.currency-block {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;

  .jq-selectbox__select {
    background: transparent;
    border: 0!important;
    padding: 0 30px 0 0;
    box-shadow: none;
    font-family: $popin;
    color: #fff;
    text-shadow: none;
    height: 30px;
    outline: none;

    .jq-selectbox__trigger {
      .jq-selectbox__trigger-arrow {border-top: 5px solid #fff;}
    }
  }

  .jq-selectbox__trigger {
    border: none;
  }

  .jq-selectbox__dropdown {
    border: none;;
    overflow: hidden;
  }

  .jq-selectbox {

    li{
      &:hover {background:#AB47BC;}

      &.selected{background:#BA68C8;}
    }
  }
}

.reg-list {
  margin: 0;
  padding: 5px 0 0;
  list-style: none;

  li {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;

    a {
      color: #fff;
      display: block;
      padding: 3px 5px;
      font-size: 13px;
      font-weight: 400;

      span {
        margin-right: 7px;
      }
    }
  }
}

//header middle content section

.header-cont {
  background: #363636;
  padding: 15px 0;
}

.head-tel {
  padding: 25px 15px 0;

  .head-tel-text {
    color: #fff;
    margin: 0;
    line-height: 36px;
    vertical-align: middle;

    .fa-mobile {
      font-size: 40px;
      line-height: 36px;
      vertical-align: middle;
      margin-right: 15px;
      color: #BA68C8;
    }
  }
}

.logo-block {
  text-align: center;

  .logo {
    display: inline-block;
    line-height: 50px;
    position: relative;

    &:hover {
      .logo-left {
        .fa-shopping-bag {color: $purple2;}
      }

      .logo-right {
        .logo-top {color: $purple2;}
      }
    }
  }

  .logo-left,
  .logo-right {
    display: inline-block;
    line-height: normal;
  }

  .logo-left {
    .fa-shopping-bag {
      font-size: 78px;
      color: $purple;
      @include transition(0.3s all ease-in-out);
    }
  }

  .logo-right {
    text-align: left;

    .logo-top {
      font-family: $pacif;
      letter-spacing: 2px;
      color: $purple;
      margin: 0 0 3px;
      font-size: 32px;
      font-weight: 800;
      line-height: 1;
      @include transition(0.3s all ease-in-out);
    }

    .logo-bottom {
      color: #fff;
      margin: 0 0 0 1px;
      line-height: 1;
      font-size: 12px;
    }
  }
}

.head-basket {
  padding: 25px 15px 0;
  text-align: right;

  .head-basket-link {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-right: -10px;

    .head-basket-logo {
      border-radius: 3px;
      background: $purple;
      padding: 15px;
      line-height: 1;
      display: inline-block;
      @include transition(0.3s all ease-in-out);

      .fa-shopping-basket {font-size: 20px;}
    }

    .head-basket-number {
      padding: 2px 7px;
      margin-left: -13px;
      background: #363636;
      border-radius: 12px;
      display: inline-block;
      @include transition(0.3s all ease-in-out);
    }

    &:hover {
      .head-basket-logo {background: $purple2;}

      .head-basket-number {color: $purple2;}
    }
  }
}

//header bottom section

.header-bottom {
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
  position: relative;
  height: 76px;
  @include transition(1s all ease);
  background: #fff;

  .navbar {
    border: none;
    background: #fff;
    margin: 0;
  }
  .navbar-default {border-radius: 0;}

  .navbar-nav {
    li {
      a {
        font-weight: 500;
        font-size: 16px;
        display: block;
        text-transform: uppercase;
        color: #000;
        position: relative;
        padding: 30px 10px;
        line-height: 1;
        @include transition(0.3s all ease);

        &:hover,
        &:focus {
          text-decoration: none;
          background: $purple;
          color: #000;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: #000;
          }
        }
      }

      &.active {

        a {
          background: #AB47BC;
          cursor: default;
          color: #000;

          &:hover,
          &:focus {
            text-decoration: none;
            background: $purple2;
            color: #000;
          }

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: #000;
          }
        }
      }
    }
  }
}

.navbar-header {
  .navbar-toggle {
    padding: 18px 11px;
    background: $purple;
    border-radius: 3px;
    border: none;
    margin: 13px 3px 0 0;

    .icon-bar {
      width: 30px;
      height: 2px;
      background: #000;
      display: block;
      @include transform(translate(0,0));
      @include transition(0.3s all ease);

      &:first-child {margin-top:0;}
    }

    &:hover,
    &:focus {
      background: $purple2;
    }
  }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {border: 0;}

.header-form {
  border: 1px solid #000;
  width: 250px;
  height: 45px;
  margin: 15px 0 0;

  input[type=text] {
    margin-right: -4px;
    font-size: 12px;
    padding: 0 3px 0 10px;
    width: 210px;

    @include placeholder {
      color: #000;
      font-size: 12px;
    }
  }

  button {
    background: none;
    padding: 0 8px;

    .fa-search {font-size: 20px;}

    &:hover {color:#BA68C8;}
   }

  input[type='text'],
  button{
    display: inline-block;
    vertical-align: top;
    border: none;
    outline: none;
    height: 43px;
  }
}

@media (max-width: 992px) {
  .navbar-header {
    float: none;
    border: none;
  }

  .navbar-left,
  .navbar-right {
    float: none!important;
    margin: 0;
  }

  .navbar-toggle {display: block;}

  .navbar-collapse {
    background: transparent;
    box-shadow: 0;
    padding: 0;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0;
  }

  .navbar-collapse.collapse {display: none!important;}

  .header-bottom {
    .navbar-nav {
      float: none!important;
      margin-top: 13px;
      >li {
        float: none;
        text-align: center;
        >a {
          padding-top: 0;
          padding-bottom: 0;
          background: $purple;
          padding: 10px 5px;

          &:before {display: none;}

          &:hover,
          &:focus {
            background: #fff;
          }
        }
      }
    }
  }

  .collapse.in{display:block!important;}

  .header-bottom {
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
    position: relative;
    height: 76px;

    .navbar {
      border: none;
      background: #fff;
      margin: 0;
    }
  }
}

@media(max-width: 768px) {

  .logo-block {
    .logo-left {
      .fa-shopping-bag {font-size: 52px;}
    }

    .logo-right {
      .logo-top {font-size:22px;}
      .logo-bottom {font-size:10px;}
    }
  }

  .head-tel {
   .head-tel-text {line-height: 52px;}
  }

   .head-tel,
   .head-basket {
      padding: 0 15px;
  }
}

@media(max-width: 568px) {

  .logo-block {
    .logo-left {
      .fa-shopping-bag {font-size: 40px;}
    }

    .logo-right {
      .logo-top {font-size:18px;}
      .logo-bottom {font-size:9px;}
    }
  }
}

@media(max-width: 480px) {

  .form-wrap {

    .header-form {
      width: 200px;

      input[type="text"] {width: 163px;}
    }
  }
}

